 <html>
 <head>
</head>
 <body style="font-family: 'Times New Roman', Times, serif;">
  <table class = "tableborder" cellspacing="0" cellpadding="1">
   <tbody style="width: 100%;">
    <tr height="70">
     <td   class = "imageborder addBorder" id="rak_logo_img"  bgcolor="#ffffff" height="18">
	 </td>
     <td  colspan="2" class = "headerborder addBorder" ><p class = "RedGrp"><strong>&amp;&lt;header&gt;&amp;</strong></p></td>
     <td  colspan="1" class = "addBorder" style="width: 40%; "> <p class = "RedGrp">Current date Time:   &amp;&lt;Current_date_time&gt;&amp;</p> </td>
    </tr>
   
    <tr class="rowprops">
     <td colspan="4" class="tdprops" > <p class = "RedGrp"><strong>SOURCING DETAILS</strong></p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops" id="appNo"> <p>Application no:</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;CC_Wi_name&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>Elite CRN:</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;ECRN&gt;&amp;</p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops" height="18"> <p>CRN:</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;CRN&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>CIF No:</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Customer_cifno&gt;&amp;</p> </td>
	</tr>
    <tr>
     <td class="adjustWidth tdprops" height="18"> <p>Product:</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;requested_product&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>Sub Product</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;subproduct&gt;&amp;</p> </td>
    </tr >
    <tr>
     <td class="adjustWidth tdprops"> <p>Scheme Group:</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;applicant_type&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>Scheme</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Scheme&gt;&amp;</p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Product Type</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Product_type&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>Card Type</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Card_Product&gt;&amp;</p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Sourcing Unit</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;source_code&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>RM</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;RM_Name&gt;&amp;</p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;loan&gt;&amp; Amount / CC limit</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;requested_limit&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>Target segment code</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;targetSegCode&gt;&amp;</p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Date Encoded</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Entry_Date&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>Marketing code</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;marketcode&gt;&amp;</p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Rakbank A/c no:</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Account_Number&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>Application Type</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;applicant_type&gt;&amp;</p> </td>
    </tr>
    
	
	 </tbody>
  </table>


	<table class = "tableborder"  cellspacing="0" cellpadding="1">
   <tbody style="width: 100%;">
    <tr class="rowprops">
     <td colspan="4" class="tdprops"> <p class = "RedGrp"><strong>APPLICANT DETAILS</strong></p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Company Name</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;company_name&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>Account No</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Acc_No&gt;&amp;</p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Trade License Valid</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;TL_Expiry&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>Nature of Business</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Indus_sector&gt;&amp;</p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Bank Name</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Bank_Name&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>Category</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Employer_Category&gt;&amp;</p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>CIF No</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;comp_CIF&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>LOB</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;LOB&gt;&amp;</p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Average CR Turn Over (3 months)</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;AvgCR33&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>Average CR Turn Over(6 months)</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;AvgCR6&gt;&amp;</p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Avg. Balance (3 months</p> </td>

     <td class="adjustWidth tdprops"> <p>&amp;&lt;avgbal3&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>Avg. Balance (6 months)</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;avgbal6&gt;&amp;</p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Bank Statement From</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Bank_From&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>Bank Statement To</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Bank_To&gt;&amp;</p> </td>
    </tr>

	 </tbody>
  </table>
  
  <table id="auth_sig" dbtablename="authorize_details"  width="110%" cellspacing="0" cellpadding="1">	   
		<tbody id="auth_sig_body">
		<tr>			
		<td class="adjustWidth tdprops" colspan="4" rowspan="1"> <p class = "RedGrp padtop" ><strong>AUTHORIZED SIGNATORY DETAILS</strong></p>
		</td>
		</tr>
		
		<tr id="auth_sig_headerRow">
         <td class="tdprops gridTd" width="109" columnname="AuthSignName"> <p>Authorized signatory Name</p> </td>
         <td class="tdprops gridTd" width="110" columnname="AuthSignDOB"> <p>Authorized signatory Age</p> </td>
         <td class="tdprops gridTd" width="147" columnname="AuthSignPassportExpiry"> <p>Authorized signatory Passport Valid</p> </td>
         <td class="tdprops gridTd" width="82" columnname="AuthSignName"> <p>Authorized signatory Effective LOB</p> </td>
         <td class="tdprops gridTd" width="102" columnname="AuthSignCIFNo"> <p>Authorized signatory CIF No</p> </td>
         <td class="tdprops gridTd" width="110" columnname="AuthSignNationality"> <p>Authorized signatory nationality</p> </td>
         <td class="tdprops gridTd" width="111" columnname="AuthSignVisaExpiry"> <p>Authorized signatory visa expiry date</p> </td>
        </tr>
		</tbody>	  
      </table> 
	  	
	 <table id="aecb_summary" dbtablename="aecb_details"  width="110%" cellspacing="0" cellpadding="1">
       <tbody id="aecb_summary_body">
		<tr>
		<td colspan="4" class="adjustWidth tdprops"> <p class = "RedGrp"><strong>AECB SUMMARY</strong></p>
		</td>
		</tr>
        <tr id="aecb_summary_headerRow">
         <td class="tdprops gridTd" width="194" columnname="AECB"> <p>Number of Months AECB History</p> </td>
         <td class="tdprops gridTd" width="195" columnname="WORSTL24"> <p>Worst Status L24M</p> </td>
         <td class="tdprops gridTd" width="195" columnname="WORSTD24"> <p>Worst Payment Delay Last 24 Months</p> </td>
         <td class="tdprops gridTd" width="195" columnname="TOTAL"> <p>Total Outstanding</p> </td>
        </tr>
       </tbody>
      </table> 
    
  
	<table  class = "tableborder" cellspacing="0" cellpadding="1">
   <tbody style="width: 100%;">
    
    <tr class="rowprops">
     <td colspan="4" class="adjustWidth tdprops"> <p class = "RedGrp"><strong>OTHER CHECKS</strong></p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Field Visit Done (by External Agency) : </p> <p>(Waived) / Not Required / Awaited</p> </td>
     <td class="adjustWidth tdprops">&amp;&lt;FieldVisitedDone&gt;&amp;</td>
     <td class="adjustWidth tdprops"> <p>FCU Feedback Obtained:</p> </td>
     <td class="adjustWidth tdprops">&amp;&lt;check3&gt;&amp;</td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Field Visit Done (In-House by FCU) : </p> </td>
     <td class="adjustWidth tdprops">&amp;&lt;check&gt;&amp;</td>
     <td class="adjustWidth tdprops"> <p>Smart CPV Done : </p> </td>
     <td class="adjustWidth tdprops">&amp;&lt;check1&gt;&amp;</td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Compliance Feedback Obtained : </p> </td>
     <td class="adjustWidth tdprops">&amp;&lt;Remarks_Compliance&gt;&amp;</td>
     <td class="adjustWidth tdprops">&nbsp;</td>
     <td class="adjustWidth tdprops">&nbsp;</td>
    </tr>
	
	
	 </tbody>
  </table>
  
  
	<table  class = "tableborder" cellspacing="0" cellpadding="1">
   <tbody style="width: 100%;">

    <tr class="rowprops">
     <td colspan="4" class="adjustWidth tdprops"> <p class = "RedGrp"><strong>PRODUCT DETAILS</strong></p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Card Product </p> </td>
     <td class="adjustWidth tdprops">&amp;&lt;Card_prod&gt;&amp;</td>
     <td class="adjustWidth tdprops"> <p>Source Code </p> </td>
     <td class="adjustWidth tdprops">&amp;&lt;source_code&gt;&amp;</td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Total Exposure </p> </td>
     <td class="adjustWidth tdprops">&amp;&lt;Total_Exposure&gt;&amp;</td>
     <td class="adjustWidth tdprops">&nbsp;</td>
     <td class="adjustWidth tdprops">&nbsp;</td>
    </tr>


	 </tbody>
  </table>
  
	<table id="exposure_det" dbtablename="exposure_details" width="110%" cellspacing="0" cellpadding="1">
       <tbody id="exposure_det_body">
	   <tr>
		<td  colspan="4"  class="adjustWidth tdprops"> <p class = "RedGrp"><strong>EXPOSURE DETAILS</strong></p>
		</td>
	   </tr>
        <tr id="exposure_det_headerRow">
         <td class="tdprops gridTd" width="117"  columnname="ExposureScheme"> <p>Scheme</p> </td>
         <td class="tdprops gridTd" width="126" columnname="LiabilityType"> <p>Liability Type</p> </td>
		 <td class="tdprops gridTd" width="161" columnname="ApplicationNo"> <p>Application No./CRN</p></td>
         <td class="tdprops gridTd" width="105" columnname="TotalOutstanding"> <p>Total Outstanding</p></td>
         <td class="tdprops gridTd" width="91" columnname="EMI"> <p>EMI</p> </td>
         <td class="tdprops gridTd" width="174" columnname="ConsiderForObligation"> <p>Consider for Obligation</p> </td>
        </tr>
       </tbody>
     </table> 
    
   <table id="deviation_det"  dbtablename="deviation_details"  width="110%" cellspacing="0" cellpadding="1">
       <tbody id="deviation_det_body">
        <tr>
		 <td  colspan="4"  class="adjustWidth tdprops"> <p class = "RedGrp"><strong>DEVIATION DETAILS</strong></p>
		 </td>
		 </tr>
      <tr id="deviation_det_headerRow">
         <td class="tdprops gridTd" width="352" columnname="DeviationDescription"> <p>Deviation Description</p> </td>
         <td class="tdprops gridTd" width="427" columnname="DeviationCode"> <p>Deviation Code</p> </td>

        </tr>
       </tbody>
      </table> 
 

	<table  class = "tableborder" cellspacing="0" cellpadding="1">
   <tbody style="width: 200%;">

    <tr class="rowprops">
     <td colspan="4" class="adjustWidth tdprops"> <p class = "RedGrp"><strong>STRENGTHS /OBSERVATIONS</strong></p> </td>
    </tr>
    <tr class="rowprops">
     <td colspan="4" class="adjustWidth tdprops"> <p>Auto-populated from STRENGTHS section in Credit analyst + CAD:</p> </td>
	 <td colspan="1" class="adjustWidth tdprops">&amp;&lt;Strength&gt;&amp;</td>
    </tr>
	
	
	 </tbody>
  </table>
  
  
	<table  class = "tableborder" cellspacing="0" cellpadding="1">
   <tbody style="width: 200%;">

    <tr class="rowprops">
     <td colspan="4" class="adjustWidth tdprops"> <p class = "RedGrp"><strong>WEAKNESSES / DEVIATIONS</strong></p> </td>
    </tr>
    <tr class="rowprops">
     <td colspan="4" class="adjustWidth tdprops"> <p>Auto-populated from STRENGTHS section in Credit analyst + CAD:</p> </td>
	 <td class="adjustWidth tdprops">&amp;&lt;Weakness&gt;&amp;</td>
    </tr>
	
	
	 </tbody>
  </table>
  
  
	<table  class = "tableborder" cellspacing="0" cellpadding="1">
   <tbody style="width: 100%;">

    <tr class="rowprops">
     <td colspan="4" class="adjustWidth tdprops"> <p class = "RedGrp"><strong>DOC WAIVER / DEFERRAL SUMMARY</strong></p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Document Name&nbsp;</p> </td>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Doc_name&gt;&amp;</td>
     <td class="adjustWidth tdprops"> <p>Status&nbsp;</p> </td>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Doc_Sta&gt;&amp;</td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Deferred until&nbsp;</p> </td>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Deferred&gt;&amp;</td>
    </tr>

	
	 </tbody>
  </table>
  
  
	<table  class = "tableborder" cellspacing="0" cellpadding="1">
   <tbody style="width: 100%;">
    
      <tr class="rowprops">
     <td colspan="4" class="adjustWidth tdprops"> <p class = "RedGrp"><strong>REMARKS</strong></p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Initiation Staff :&nbsp;</p> </td
>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Remarks_Init&gt;&amp;</td>
     <td class="adjustWidth tdprops"> <p>Sales Co-Ordinator :&nbsp;</p> </td>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Remarks_Sales&gt;&amp;</td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Operations:&nbsp;</p> </td>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Remarks_Ops&gt;&amp;</td>
     <td class="adjustWidth tdprops"> <p>Credit approver (CAD)&nbsp;</p>  </td>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Remarks_CAD2&gt;&amp; </td>
    </tr>
	<tr>
     <td class="adjustWidth tdprops"> <p>Credit Analyst:</p> </td>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Remarks_CAD1&gt;&amp;</td>
	 <td class="adjustWidth tdprops"> <p>CPV :&nbsp;</p> </td>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Remarks_CPV&gt;&amp;</td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Smart CPV Feedback:&nbsp;</p> </td>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Remarks_CPV_Feed&gt;&amp;</td>
	 <td class="adjustWidth tdprops"> <p>FCU Feedback :</p> </td>
     <td class="adjustWidth tdprops">&amp;&lt;Remarks_Feedback&gt;&amp;</td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Compliance Feedback:&nbsp;</p> </td>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Remarks_Compliance&gt;&amp;</td>
    </tr>
    
 </tbody>
  </table>
  
  
	<table  class = "tableborder" cellspacing="0" cellpadding="1">
   <tbody style="width: 100%;">
    <tr class="rowprops">
     <td colspan="4" class="adjustWidth tdprops"> <p class = "RedGrp"><strong>INSTRUCTIONS BY CREDIT UNDERWRITING</strong></p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>To CPV Unit</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;desc&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>To Credit Card Operations</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;desc1&gt;&amp;</p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>To CROPS / IOPS</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;CROPS&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"></td>
     <td class="adjustWidth tdprops"></td>
    </tr>
    
	 </tbody>
  </table>
  
  
	<table  class = "tableborder" cellspacing="0" cellpadding="1">
   <tbody style="width: 100%;">
    <tr class="rowprops">
     <td colspan="4" class="adjustWidth tdprops"> <p class = "RedGrp"><strong>CREDIT ANALYST DECISION</strong></p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Decision :</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Decision&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>Refer To :</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;ReferTo&gt;&amp;</p> </td>
    </tr>
    <tr class="rowprops">
     <td class="adjustWidth tdprops"> <p>Decision Reason Code :</p> </td>

     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Dec_Remarks&gt;&amp;</td>
     <td class="adjustWidth tdprops"> <p>Decision Remarks :</p> </td>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Dec_Remarks&gt;&amp;</td>
    </tr>
<tr class="rowprops">
     <td class="adjustWidth tdprops"> <p>Decision Reason Code :</p> </td>

     <td class="adjustWidth tdprops"> <p>&amp;&lt;ReferReason&gt;&amp;</p> </td>
     <td class="adjustWidth tdprops"> <p>Decision Remarks :</p> </td>
     <td class="adjustWidth tdprops"> &nbsp;&amp;&lt;Dec_Remarks2&gt;&amp; </td>
    </tr>
    
	 </tbody>
  </table>
  
  
	<table  class = "tableborder" cellspacing="0" cellpadding="1">
   <tbody style="width: 100%;">
    <tr class="rowprops">
     <td colspan="4" class="adjustWidth tdprops"> <p class = "RedGrp"><strong>APPROVAL AUTHORITY:</strong></p> </td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Reviewed By -[Credit analyst name]&nbsp;</p> </td>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Remarks_1&gt;&amp;</td>
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - Sr.Credit Analyst</p></td>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Remarks_6&gt;&amp;&nbsp;</td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - Sr. Credit Analyst</p>  </td>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Remarks_2&gt;&amp;</td>
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined -&nbsp;</p> <p>Asst Manager</p> </td>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Remarks_7&gt;&amp;</td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - Credit Manager</p>  </td>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Remarks_3&gt;&amp;</td>
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - Sr.Manager</p>  </td>
     <td class="adjustWidth tdprops">&amp;&lt;Remarks_8&gt;&amp;</td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - HOU , PB Credit</p> </td>
     <td class="adjustWidth tdprops">&nbsp;&nbsp;&amp;&lt;Remarks_4&gt;&amp;</td>
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - Director, PB Credit</p>  </td>
     <td class="adjustWidth tdprops">&amp;&lt;Remarks_9&gt;&amp;</td>
    </tr>
    <tr>
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - CEO</p>  </td>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Remarks_5&gt;&amp;</td>
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - CEO</p>  </td>
     <td class="adjustWidth tdprops">&nbsp;&amp;&lt;Remarks_10&gt;&amp;</td>
    </tr>
  
   </tbody>
  </table>
 </body>
</html>