<html>
 <head> 
 </head> 
 <body style="font-family: 'Times New Roman', Times, serif;"> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr height="70"> 
     <td class="imageborder addBorder" id="rak_logo_img" bgcolor="#ffffff" height="18"> </td> 
     <td colspan="2" class="headerborder addBorder"><p class="RedGrp"><strong>BTC- CREDIT CARD</strong></p></td> 
     <td colspan="1" class="addBorder" style="width: 40%; "> <p class="RedGrp">Current date Time: 07/01/2019 17:17</p> </td> 
    </tr> 
    <tr class="rowprops"> 
     <td colspan="4" class="tdprops"> <p class="RedGrp"><strong>SOURCING DETAILS</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops" id="appNo"> <p>Application no_2:</p> </td> 
     <td class="adjustWidth tdprops"> <p>CC-0030024763-process</p> </td> 
     <td class="adjustWidth tdprops"> <p>Elite CRN:</p> </td> 
     <td class="adjustWidth tdprops"> <p>200200400</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops" height="18"> <p>CRN:</p> </td> 
     <td class="adjustWidth tdprops"> <p>200200400</p> </td> 
     <td class="adjustWidth tdprops"> <p>CIF No:</p> </td> 
     <td class="adjustWidth tdprops"> <p>2221180</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops" height="18"> <p>Product:</p> </td> 
     <td class="adjustWidth tdprops"> <p>Credit Card</p> </td> 
     <td class="adjustWidth tdprops"> <p>Sub Product</p> </td> 
     <td class="adjustWidth tdprops"> <p>Business titanium Card</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Scheme Group:</p> </td> 
     <td class="adjustWidth tdprops"> <p>New To Bank Business liability</p> </td> 
     <td class="adjustWidth tdprops"> <p>Scheme</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Product Type</p> </td> 
     <td class="adjustWidth tdprops"> <p>Conventional</p> </td> 
     <td class="adjustWidth tdprops"> <p>Card Type</p> </td> 
     <td class="adjustWidth tdprops"> <p>SME TITANIUM CORPORATE</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Sourcing Unit</p> </td> 
     <td class="adjustWidth tdprops"> <p>Branch_Init</p> </td> 
     <td class="adjustWidth tdprops"> <p>RM</p> </td> 
     <td class="adjustWidth tdprops"> <p>Athira CSM</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Loan Amount / CC limit</p> </td> 
     <td class="adjustWidth tdprops"> <p>20000</p> </td> 
     <td class="adjustWidth tdprops"> <p>Target segment code</p> </td> 
     <td class="adjustWidth tdprops"> <p>BTC TO NTB CUSTOMERS</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Date Encoded</p> </td> 
     <td class="adjustWidth tdprops"> <p>05/09/2018</p> </td> 
     <td class="adjustWidth tdprops"> <p>Marketing code</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Rakbank A/c no:</p> </td> 
     <td class="adjustWidth tdprops"> <p>8332221180901</p> </td> 
     <td class="adjustWidth tdprops"> <p>Application Type</p> </td> 
     <td class="adjustWidth tdprops"> <p>New To Bank Business liability</p> </td> 
    </tr> 
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="tdprops"> <p class="RedGrp"><strong>APPLICANT DETAILS</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Company Name</p> </td> 
     <td class="adjustWidth tdprops"> <p>ETISALAT - RAK</p> </td> 
     <td class="adjustWidth tdprops"> <p>Account No</p> </td> 
     <td class="adjustWidth tdprops"> <p> </p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Trade License Valid</p> </td> 
     <td class="adjustWidth tdprops"> <p>2024-09-10</p> </td> 
     <td class="adjustWidth tdprops"> <p>Nature of Business</p> </td> 
     <td class="adjustWidth tdprops"> <p>SERVICES</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Bank Name</p> </td> 
     <td class="adjustWidth tdprops"> <p> </p> </td> 
     <td class="adjustWidth tdprops"> <p>Category</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>CIF No</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"> <p>LOB</p> </td> 
     <td class="adjustWidth tdprops"> <p>9.00</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Average CR Turn Over (3 months)</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"> <p>Average CR Turn Over(6 months)</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Avg. Balance (3 months</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"> <p>Avg. Balance (6 months)</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Bank Statement From</p> </td> 
     <td class="adjustWidth tdprops"> <p>16/09/2009 00:00</p> </td> 
     <td class="adjustWidth tdprops"> <p>Bank Statement To</p> </td> 
     <td class="adjustWidth tdprops"> <p>29/08/2017 00:00</p> </td> 
    </tr> 
   </tbody> 
  </table> 
  <table id="auth_sig" dbtablename="authorize_details" width="110%" cellspacing="0" cellpadding="1"> 
   <tbody id="auth_sig_body"> 
    <tr> 
     <td class="adjustWidth tdprops" colspan="4" rowspan="1"> <p class="RedGrp padtop"><strong>AUTHORIZED SIGNATORY DETAILS</strong></p> </td> 
    </tr> 
    <tr id="auth_sig_headerRow"> 
     <td class="tdprops gridTd" width="109" columnname="AuthSignName"> <p>Authorized signatory Name</p> </td> 
     <td class="tdprops gridTd" width="110" columnname="AuthSignDOB"> <p>Authorized signatory Age</p> </td> 
     <td class="tdprops gridTd" width="147" columnname="AuthSignPassportExpiry"> <p>Authorized signatory Passport Valid</p> </td> 
     <td class="tdprops gridTd" width="82" columnname="AuthSignName"> <p>Authorized signatory Effective LOB</p> </td> 
     <td class="tdprops gridTd" width="102" columnname="AuthSignCIFNo"> <p>Authorized signatory CIF No</p> </td> 
     <td class="tdprops gridTd" width="110" columnname="AuthSignNationality"> <p>Authorized signatory nationality</p> </td> 
     <td class="tdprops gridTd" width="111" columnname="AuthSignVisaExpiry"> <p>Authorized signatory visa expiry date</p> </td> 
    </tr> 
    <tr>
     <td class="tdprops gridTd"><p>FIRST NAME FOR 2221180 LAST NAME FOR 2221180</p></td>
     <td class="tdprops gridTd"><p>31.00</p></td>
     <td class="tdprops gridTd"><p>12/31/2025</p></td>
     <td class="tdprops gridTd"><p>FIRST NAME FOR 2221180 LAST NAME FOR 2221180</p></td>
     <td class="tdprops gridTd"><p>2221180</p></td>
     <td class="tdprops gridTd"><p>IN</p></td>
     <td class="tdprops gridTd"><p>07/16/2020</p></td>
    </tr>
   </tbody> 
  </table> 
  <table id="aecb_summary" dbtablename="aecb_details" width="110%" cellspacing="0" cellpadding="1"> 
   <tbody id="aecb_summary_body"> 
    <tr> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>AECB SUMMARY</strong></p> </td> 
    </tr> 
    <tr id="aecb_summary_headerRow"> 
     <td class="tdprops gridTd" width="194" columnname="AECB"> <p>Number of Months AECB History</p> </td> 
     <td class="tdprops gridTd" width="195" columnname="WORSTL24"> <p>Worst Status L24M</p> </td> 
     <td class="tdprops gridTd" width="195" columnname="WORSTD24"> <p>Worst Payment Delay Last 24 Months</p> </td> 
     <td class="tdprops gridTd" width="195" columnname="TOTAL"> <p>Total Outstanding</p> </td> 
    </tr> 
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>OTHER CHECKS</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Field Visit Done (by External Agency) : </p> <p>(Waived) / Not Required / Awaited</p> </td> 
     <td class="adjustWidth tdprops"> </td> 
     <td class="adjustWidth tdprops"> <p>FCU Feedback Obtained:</p> </td> 
     <td class="adjustWidth tdprops">No</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Field Visit Done (In-House by FCU) : </p> </td> 
     <td class="adjustWidth tdprops">No</td> 
     <td class="adjustWidth tdprops"> <p>Smart CPV Done : </p> </td> 
     <td class="adjustWidth tdprops">No</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Compliance Feedback Obtained : </p> </td> 
     <td class="adjustWidth tdprops"></td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
    </tr> 
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>PRODUCT DETAILS</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Card Product </p> </td> 
     <td class="adjustWidth tdprops">SME TITANIUM CORPORATE</td> 
     <td class="adjustWidth tdprops"> <p>Source Code </p> </td> 
     <td class="adjustWidth tdprops">Branch_Init</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Total Exposure </p> </td> 
     <td class="adjustWidth tdprops"></td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
    </tr> 
   </tbody> 
  </table> 
  <table id="exposure_det" dbtablename="exposure_details" width="110%" cellspacing="0" cellpadding="1"> 
   <tbody id="exposure_det_body"> 
    <tr> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>EXPOSURE DETAILS</strong></p> </td> 
    </tr> 
    <tr id="exposure_det_headerRow"> 
     <td class="tdprops gridTd" width="117" columnname="ExposureScheme"> <p>Scheme</p> </td> 
     <td class="tdprops gridTd" width="126" columnname="LiabilityType"> <p>Liability Type</p> </td> 
     <td class="tdprops gridTd" width="161" columnname="ApplicationNo"> <p>Application No./CRN</p></td> 
     <td class="tdprops gridTd" width="105" columnname="TotalOutstanding"> <p>Total Outstanding</p></td> 
     <td class="tdprops gridTd" width="91" columnname="EMI"> <p>EMI</p> </td> 
     <td class="tdprops gridTd" width="174" columnname="ConsiderForObligation"> <p>Consider for Obligation</p> </td> 
    </tr> 
   </tbody> 
  </table> 
  <table id="deviation_det" dbtablename="deviation_details" width="110%" cellspacing="0" cellpadding="1"> 
   <tbody id="deviation_det_body"> 
    <tr> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>DEVIATION DETAILS</strong></p> </td> 
    </tr> 
    <tr id="deviation_det_headerRow"> 
     <td class="tdprops gridTd" width="352" columnname="DeviationDescription"> <p>Deviation Description</p> </td> 
     <td class="tdprops gridTd" width="427" columnname="DeviationCode"> <p>Deviation Code</p> </td> 
    </tr> 
    <tr>
     <td class="tdprops gridTd"><p>System Approve</p></td>
     <td class="tdprops gridTd"><p>A999</p></td>
    </tr>
   </tbody> 
  </table> 
    <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>STRENGTHS /OBSERVATIONS</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Initiation Staff :&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;xzvcvx</td> 
     <td class="adjustWidth tdprops"> <p>Sales Co-Ordinator :&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
    </tr> 
    <tr> 
     <td colspan="2" class="adjustWidth tdprops"> <p>Credit Analyst:</p> </td> 
     <td colspan="2" class="adjustWidth tdprops">21354687 9546213546 87954621354 67895462135468 7954621349879 5465132135465 4687987987954 6546121313</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Smart CPV Feedback:&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
     <td class="adjustWidth tdprops"> <p>FCU Feedback :</p> </td> 
     <td class="adjustWidth tdprops"></td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Compliance Feedback:&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
    </tr> 
   </tbody> 
  </table>
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 200%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>WEAKNESSES / DEVIATIONS</strong></p> </td> 
    </tr> 
    <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p>Auto-populated from STRENGTHS section in Credit analyst + CAD:</p> </td> 
     <td class="adjustWidth tdprops"></td> 
    </tr> 
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>DOC WAIVER / DEFERRAL SUMMARY</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Document Name&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
     <td class="adjustWidth tdprops"> <p>Status&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Deferred until&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
    </tr> 
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>REMARKS</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Initiation Staff :&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;xzvcvx</td> 
     <td class="adjustWidth tdprops"> <p>Sales Co-Ordinator :&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Operations:&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
     <td class="adjustWidth tdprops"> <p>Credit approver (CAD)&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp; </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Credit Analyst:</p> </td> 
     <td class="adjustWidth tdprops">21354687 9546213546 87954621354 67895462135468 7954621349879 5465132135465 4687987987954 6546121313</td> 
     <td class="adjustWidth tdprops"> <p>CPV :&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;TEST</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Smart CPV Feedback:&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
     <td class="adjustWidth tdprops"> <p>FCU Feedback :</p> </td> 
     <td class="adjustWidth tdprops"></td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Compliance Feedback:&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
    </tr> 
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>INSTRUCTIONS BY CREDIT UNDERWRITING</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>To CPV Unit</p> </td> 
     <td class="adjustWidth tdprops"> <p> </p> </td> 
     <td class="adjustWidth tdprops"> <p>To Credit Card Operations</p> </td> 
     <td class="adjustWidth tdprops"> <p> </p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>To CROPS / IOPS</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"></td> 
     <td class="adjustWidth tdprops"></td> 
    </tr> 
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>CREDIT ANALYST DECISION</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Decision :</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"> <p>Refer To :</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
    </tr> 
    <tr class="rowprops"> 
     <td class="adjustWidth tdprops"> <p>Decision Reason Code :</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
     <td class="adjustWidth tdprops"> <p>Decision Remarks :</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
    </tr> 
    <tr class="rowprops"> 
     <td class="adjustWidth tdprops"> <p>Decision Reason Code :</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"> <p>Decision Remarks :</p> </td> 
     <td class="adjustWidth tdprops"> &nbsp;&amp;&lt;Dec_Remarks2&gt;&amp; </td> 
    </tr> 
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>APPROVAL AUTHORITY:</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Reviewed By -[Credit analyst name]&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp; </td> 
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - Sr.Credit Analyst</p></td> 
     <td class="adjustWidth tdprops">&nbsp; &nbsp;</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - Sr. Credit Analyst</p> </td> 
     <td class="adjustWidth tdprops">&nbsp; </td> 
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined -&nbsp;</p> <p>Asst Manager</p> </td> 
     <td class="adjustWidth tdprops">&nbsp; </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - Credit Manager</p> </td> 
     <td class="adjustWidth tdprops">&nbsp; </td> 
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - Sr.Manager</p> </td> 
     <td class="adjustWidth tdprops"> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - HOU , PB Credit</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;&nbsp; </td> 
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - Director, PB Credit</p> </td> 
     <td class="adjustWidth tdprops"> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - CEO</p> </td> 
     <td class="adjustWidth tdprops">&nbsp; </td> 
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - CEO</p> </td> 
     <td class="adjustWidth tdprops">&nbsp; </td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>