<html>
 <head></head> 
 <body style="font-family: 'Times New Roman', Times, serif;"> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr height="70"> 
     <td class="imageborder addBorder" id="rak_logo_img" bgcolor="#ffffff" height="18"> </td> 
     <td colspan="2" class="headerborder addBorder"><p class="RedGrp"><strong>SALARIED CREDIT CARD</strong></p></td> 
     <td colspan="1" class="addBorder" style="width: 40%;"> <p class="RedGrp">Current date Time: 07/01/2019 20:28</p> </td> 
    </tr> 
    <tr class="rowprops"> 
     <td colspan="4" class="tdprops"> <p class="RedGrp"><strong>SOURCING DETAILS</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops" id="appNo"> <p>Application no:</p> </td> 
     <td class="adjustWidth tdprops"> <p>CC-0030036179-process</p> </td> 
     <td class="adjustWidth tdprops"> <p>Elite CRN:</p> </td> 
     <td class="adjustWidth tdprops"> <p>200665400</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops" height="18"> <p>CRN:</p> </td> 
     <td class="adjustWidth tdprops"> <p>200665400</p> </td> 
     <td class="adjustWidth tdprops"> <p>CIF No:</p> </td> 
     <td class="adjustWidth tdprops"> <p>5000524</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops" height="18"> <p>Product:</p> </td> 
     <td class="adjustWidth tdprops"> <p>Credit Card</p> </td> 
     <td class="adjustWidth tdprops"> <p>Sub Product</p> </td> 
     <td class="adjustWidth tdprops"> <p>Salaried Credit Card</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Scheme Group:</p> </td> 
     <td class="adjustWidth tdprops"> <p>New</p> </td> 
     <td class="adjustWidth tdprops"> <p>Scheme</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Application category</p> </td> 
     <td class="adjustWidth tdprops"> <p>BAU</p> </td> 
     <td class="adjustWidth tdprops"> <p>Product Type</p> </td> 
     <td class="adjustWidth tdprops"> <p>Conventional</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Card Type</p> </td> 
     <td class="adjustWidth tdprops"> <p>My RAK Card Expat</p> </td> 
     <td class="adjustWidth tdprops"> <p>Sourcing Unit</p> </td> 
     <td class="adjustWidth tdprops"> <p>Branch_Init</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>RM</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"> <p>Target segment code</p> </td> 
     <td class="adjustWidth tdprops"> <p>APPROVED LIST OF COMPANIES </p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Date Encoded</p> </td> 
     <td class="adjustWidth tdprops"> <p>26/12/2018</p> </td> 
     <td class="adjustWidth tdprops"> <p>Marketing code:</p> </td> 
     <td class="adjustWidth tdprops"> <p>BUSINESS AS USUAL</p> </td> 
    </tr>
    <tr> 
     <td class="adjustWidth tdprops"> <p>Rakbank A/c no:</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"> <p>Application Type</p> </td> 
     <td class="adjustWidth tdprops"> <p>New</p> </td> 
    </tr>  
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="tdprops"> <p class="RedGrp"><strong>APPLICANT DETAILS</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Applicant Name</p> </td> 
     <td class="adjustWidth tdprops"> <p>Kevin Strauss</p> </td> 
     <td class="adjustWidth tdprops"> <p>Applicant Category</p> </td> 
     <td class="adjustWidth tdprops"> <p>BAU</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Existing Customer</p> </td> 
     <td class="adjustWidth tdprops"> <p>NO</p> </td> 
     <td class="adjustWidth tdprops"> <p>Gender</p> </td> 
     <td class="adjustWidth tdprops"> <p>Male</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Marital Status</p> </td> 
     <td class="adjustWidth tdprops"> <p>MARRIED</p> </td> 
     <td class="adjustWidth tdprops"> <p>Nationality</p> </td> 
     <td class="adjustWidth tdprops"> <p>India-IN</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>GCC National</p> </td> 
     <td class="adjustWidth tdprops"> <p>No</p> </td> 
     <td class="adjustWidth tdprops"> <p>Resident in UAE</p> </td> 
     <td class="adjustWidth tdprops"> <p>Resident</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Present Age</p> </td> 
     <td class="adjustWidth tdprops"> <p>37.06</p> </td> 
     <td class="adjustWidth tdprops"> <p>Age at Maturity</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
    </tr> 
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="tdprops"> <p class="RedGrp"><strong>EMPLOYMENT DETAILS</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Employment Type:</p> </td> 
     <td class="adjustWidth tdprops"> <p>Salaried</p> </td> 
     <td class="adjustWidth tdprops"> <p>Employer Name:</p> </td> 
     <td class="adjustWidth tdprops"> <p>LAURELS TRAINING INSTITUTE</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Employer Code:</p> </td> 
     <td class="adjustWidth tdprops"> <p>618523</p> </td> 
     <td class="adjustWidth tdprops"> <p>NEP Type:</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Employer Movement:</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"> <p>Visa Sponsor:</p> </td> 
     <td class="adjustWidth tdprops"> <p>QK</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Current Designation:</p> </td> 
     <td class="adjustWidth tdprops"> <p>IT SPECIALIST</p> </td> 
     <td class="adjustWidth tdprops"> <p>Confirmed in Current Job:</p> </td> 
     <td class="adjustWidth tdprops"> <p>YES</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Length of Service (Current Employer):</p> </td> 
     <td class="adjustWidth tdprops"> <p>6.10</p> </td> 
     <td class="adjustWidth tdprops"> <p>Accommodation Provided by the Employer : Yes / No</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Salary Credit Date:</p> </td> 
     <td class="adjustWidth tdprops"> <p>1</p> </td> 
     <td class="adjustWidth tdprops"> <p>Sal trf to RAKBank :</p> </td> 
     <td class="adjustWidth tdprops"> <p>Yes</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Employment Status:</p> </td> 
     <td class="adjustWidth tdprops"> <p>PERMANENT</p> </td> 
    </tr> 
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="tdprops"> <p class="RedGrp"><strong>ALOC DETAILS</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Included in PL ALOC:</p> </td> 
     <td class="adjustWidth tdprops"> <p>No</p> </td> 
     <td class="adjustWidth tdprops"> <p>Included in CC ALOC:</p> </td> 
     <td class="adjustWidth tdprops"> <p>Yes</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Employer category (PL):</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"> <p>Employer category (CC):</p> </td> 
     <td class="adjustWidth tdprops"> <p>Visited Open</p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Employer status (PL National):</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"> <p>High DelinquencyEmployer (Non ALOC):</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>ALOC Remarks - CC :</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"> <p>ALOC Remarks - PL:</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Employer Industry Micro :</p> </td> 
     <td class="adjustWidth tdprops"> <p>TRAINING AND MANAGEMENT</p> </td> 
     <td class="adjustWidth tdprops"> <p>Employer Industry Macro:</p> </td> 
     <td class="adjustWidth tdprops"> <p>EDUCATIONAL</p> </td> 
    </tr> 
   </tbody> 
  </table> 
  <table id="aecb_summary" dbtablename="aecb_details" width="110%" cellspacing="0" cellpadding="1"> 
   <tbody id="aecb_summary_body"> 
    <tr> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>AECB SUMMARY</strong></p></td> 
    </tr> 
    <tr id="aecb_summary_headerRow"> 
     <td class="tdprops gridTd" width="194" columnname="AECB"> <p>Number of Months AECB History</p> </td> 
     <td class="tdprops gridTd" width="195" columnname="WORSTL24"> <p>Worst Status L24M</p> </td> 
     <td class="tdprops gridTd" width="195" columnname="WORSTD24"> <p>Worst Payment Delay Last 24 Months</p> </td> 
     <td class="tdprops gridTd" width="195" columnname="TOTAL"> <p>Total Outstanding</p> </td> 
    </tr> 
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>OTHER CHECKS</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Field Visit Done (by External Agency) : </p> <p>(Waived) / Not Required / Awaited</p> </td> 
     <td class="adjustWidth tdprops"></td> 
     <td class="adjustWidth tdprops"> <p>FCU Feedback Obtained: </p> </td> 
     <td class="adjustWidth tdprops">No</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Field Visit Done (In-House by FCU) : </p> </td> 
     <td class="adjustWidth tdprops">No</td> 
     <td class="adjustWidth tdprops"> <p>Smart CPV Done : </p> </td> 
     <td class="adjustWidth tdprops">No</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Compliance Feedback Obtained : </p> </td> 
     <td class="adjustWidth tdprops"></td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
    </tr> 
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>PRODUCT DETAILS</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Requested Tenor:</p> </td> 
     <td class="adjustWidth tdprops"></td> 
     <td class="adjustWidth tdprops"> <p>Card Product:</p> </td> 
     <td class="adjustWidth tdprops">My RAK Card Expat</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Interest Rate%:</p> </td> 
     <td class="adjustWidth tdprops"></td> 
     <td class="adjustWidth tdprops"> <p>Processing Fee:</p> </td> 
     <td class="adjustWidth tdprops"></td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Insurance fee:</p> </td> 
     <td class="adjustWidth tdprops"></td> 
     <td class="adjustWidth tdprops"> <p>Source Code:</p> </td> 
     <td class="adjustWidth tdprops">Branch_Init</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Loan Amount / CC limit</p> </td> 
     <td class="adjustWidth tdprops"> <p>10000</p> </td> 
     <td class="adjustWidth tdprops"> <p>Total Exposure:</p> </td> 
     <td class="adjustWidth tdprops">10000.00</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>First Repay Date:</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"> <p>Last repay date:</p> </td> 
     <td class="adjustWidth tdprops"></td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>EMI:</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"> <p>TAI:</p> </td> 
     <td class="adjustWidth tdprops">109500.00</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Net salary:</p> </td> 
     <td class="adjustWidth tdprops"> <p>1,500.00</p> </td> 
     <td class="adjustWidth tdprops"> <p>DBR on TAI:</p> </td> 
     <td class="adjustWidth tdprops">0.18</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>DBR on net salary:</p> </td> 
     <td class="adjustWidth tdprops"> <p>13.33</p> </td> 
     <td class="adjustWidth tdprops"> <p>MOL salary variance %:</p> </td> 
     <td class="adjustWidth tdprops"></td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>MIS Name:</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"> <p>Classification Code:</p> </td> 
     <td class="adjustWidth tdprops">NO AECB HISTORY</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Channel code:</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"> <p>Loan Multiples:</p> </td> 
     <td class="adjustWidth tdprops"></td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Corporate Code:</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"> <p>Promotion Code:</p> </td> 
     <td class="adjustWidth tdprops"></td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Top Up Amount - If the Loan is top up:</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
    </tr> 
   </tbody> 
  </table> 
  <table id="exposure_det" dbtablename="exposure_details" width="110%" cellspacing="0" cellpadding="1"> 
   <tbody id="exposure_det_body"> 
    <tr> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>EXPOSURE DETAILS</strong></p></td> 
    </tr> 
    <tr id="exposure_det_headerRow"> 
     <td class="tdprops gridTd" width="117" columnname="ExposureScheme"> <p>Scheme</p> </td> 
     <td class="tdprops gridTd" width="126" columnname="LiabilityType"> <p>Liability Type</p> </td> 
     <td class="tdprops gridTd" width="161" columnname="ApplicationNo"> <p>Application No./CRN</p> </td> 
     <td class="tdprops gridTd" width="105" columnname="TotalOutstanding"> <p>Total Outstanding</p> </td> 
     <td class="tdprops gridTd" width="91" columnname="EMI"> <p>EMI</p> </td> 
     <td class="tdprops gridTd" width="174" columnname="ConsiderForObligation"> <p>Consider for Obligation</p> </td> 
    </tr> 
   </tbody> 
  </table> 
  <table id="deviation_det" dbtablename="deviation_details" width="110%" cellspacing="0" cellpadding="1"> 
   <tbody id="deviation_det_body"> 
    <tr> 
     <td colspan="4" rowspan="2" class="adjustWidth tdprops"> <p class="RedGrp"><strong>DEVIATION DETAILS</strong></p></td> 
    </tr> 
    <tr id="deviation_det_headerRow"> 
     <td class="tdprops gridTd" width="352" columnname="DeviationDescription"> <p>Deviation Description</p> </td> 
     <td class="tdprops gridTd" width="427" columnname="DeviationCode"> <p>Deviation Code</p> </td> 
    </tr> 
    <tr>
     <td class="tdprops gridTd"><p>System Approve</p></td>
     <td class="tdprops gridTd"><p>A999</p></td>
    </tr>
    <tr>
     <td class="tdprops gridTd"><p>EFMS Alert Status</p></td>
     <td class="tdprops gridTd"><p>Not Processed</p></td>
    </tr>
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>STRENGTHS /OBSERVATIONS</strong></p> </td> 
    </tr> 
    <tr> 
     <td colspan="2" class="adjustWidth tdprops"> <p>Auto-populated from STRENGTHS section in Credit analyst + CAD:</p> </td> 
     <td colspan="2" class="adjustWidth tdprops">&nbsp;deepak-7/1/2019 20:15-Provider number should show B02, B03 as per the AECB report, however CB contract Id is reflecting in the system</td> 
    </tr> 
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>WEAKNESSES / DEVIATIONS</strong></p> </td> 
    </tr> 
    <tr> 
     <td colspan="2" class="adjustWidth tdprops"> <p>Auto-populated from STRENGTHS section in Credit analyst + CAD:</p> </td> 
     <td colspan="2" class="adjustWidth tdprops">&nbsp;deepak-7/1/2019 20:15-Provider number should show B02, B03 as per the AECB report, however CB contract Id is reflecting in the system</td> 
    </tr> 
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>DOC WAIVER / DEFERRAL SUMMARY</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Document Name&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
     <td class="adjustWidth tdprops"> <p>Status&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Deferred until&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
    </tr> 
   </tbody> 
  </table> 
	<table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
   <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>REMARKS</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Initiation Staff :&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;Approve</td> 
     <td class="adjustWidth tdprops"> <p>Sales Co-Ordinator :&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Operations:&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;Accep[t</td> 
     <td class="adjustWidth tdprops"> <p>Credit approver (CAD)&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp; </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Credit Analyst:</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;approved as discussed and all the data captured reflecting in cam</td> 
     <td class="adjustWidth tdprops"> <p>CPV :&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;cxfvd</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Smart CPV Feedback:&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
     <td class="adjustWidth tdprops"> <p>FCU Feedback :</p> </td> 
     <td class="adjustWidth tdprops"></td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Compliance Feedback:&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;</td> 
    </tr> 
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>INSTRUCTIONS BY CREDIT UNDERWRITING</strong></p> </td> 
    </tr> 
    <tr class="rowprops"> 
     <td class="adjustWidth tdprops"> <p>To CPV Unit</p> </td> 
     <td class="adjustWidth tdprops"> <p> </p> </td> 
     <td class="adjustWidth tdprops"> <p>To Credit Card Operations</p> </td> 
     <td class="adjustWidth tdprops"> <p> </p> </td> 
    </tr> 
    <tr class="rowprops"> 
     <td class="adjustWidth tdprops"> <p>To CROPS / IOPS</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"></td> 
     <td class="adjustWidth tdprops"></td> 
    </tr> 
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>CREDIT ANALYST DECISION</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Decision :</p> </td> 
     <td class="adjustWidth tdprops"> <p>Approve</p> </td> 
     <td class="adjustWidth tdprops"> <p>Refer To :</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
    </tr> 
    <tr class="rowprops"> 
     <td class="adjustWidth tdprops"> <p>Decision Reason Code :</p> </td> 
     <td class="adjustWidth tdprops"> <p></p> </td> 
     <td class="adjustWidth tdprops"> <p>Decision Remarks :</p> </td> 
     <td class="adjustWidth tdprops"> approved as discussed and all the data captured reflecting in cam </td> 
    </tr> 
   </tbody> 
  </table> 
  <table class="tableborder" cellspacing="0" cellpadding="1"> 
   <tbody style="width: 100%;"> 
    <tr class="rowprops"> 
     <td colspan="4" class="adjustWidth tdprops"> <p class="RedGrp"><strong>APPROVAL AUTHORITY:</strong></p> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Reviewed By -[Credit analyst name]&nbsp;</p> </td> 
     <td class="adjustWidth tdprops">&nbsp; </td> 
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - Sr.Credit Analyst</p></td> 
     <td class="adjustWidth tdprops">&nbsp; &nbsp;</td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - Sr. Credit Analyst</p> </td> 
     <td class="adjustWidth tdprops">&nbsp; </td> 
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined -&nbsp;</p> <p>Asst Manager</p> </td> 
     <td class="adjustWidth tdprops">&nbsp; </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - Credit Manager</p> </td> 
     <td class="adjustWidth tdprops">&nbsp; </td> 
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - Sr.Manager</p> </td> 
     <td class="adjustWidth tdprops"> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - HOU , PB Credit</p> </td> 
     <td class="adjustWidth tdprops">&nbsp;&nbsp; </td> 
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - Director, PB Credit</p> </td> 
     <td class="adjustWidth tdprops"> </td> 
    </tr> 
    <tr> 
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - CEO</p> </td> 
     <td class="adjustWidth tdprops">&nbsp; </td> 
     <td class="adjustWidth tdprops"> <p>Supported / Approved / Declined - CEO</p> </td> 
     <td class="adjustWidth tdprops">&nbsp; </td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>