<HTML>
<HEAD>
</HEAD>
<BODY>
<P ALIGN=JUSTIFY><FONT COLOR="#000000" FACE="Verdana, sans-serif" SIZE=2 STYLE="font-size: 9pt"><B>Ref:  OPS/2597501/17</B></FONT></P>
<H1><FONT FACE="Verdana, sans-serif" SIZE=2 STYLE="font-size: 9pt">Date: &amp;&lt;Current_date_time&gt;&amp;</FONT></H1>
<BR>
<P><FONT FACE="Verdana, sans-serif" SIZE=2 STYLE="font-size: 9pt"><B>The Manager, </B></FONT></P>
<P><FONT FACE="Verdana, sans-serif" SIZE=2 STYLE="font-size: 9pt"><B>RAKBank,</B></FONT></P>
<P><FONT FACE="Verdana, sans-serif" SIZE=2 STYLE="font-size: 9pt"><B>PO BOX XX,</B></FONT></P>
<P><FONT FACE="Verdana, sans-serif" SIZE=2 STYLE="font-size: 9pt"><B>ABU DHABI,</B></FONT></P>
<P><FONT FACE="Verdana, sans-serif" SIZE=2 STYLE="font-size: 9pt"><B>U.A.E</B></FONT></P>
<BR>
<P ALIGN=JUSTIFY><FONT COLOR="#000000" FACE="Verdana, sans-serif" SIZE=2 STYLE="font-size: 9pt"><B>Dear Sir/Madam,</B></FONT></P>
<P ALIGN=CENTER>
<FONT SIZE=2 STYLE="font-size: 11pt" COLOR="#000000" FACE="Verdana, sans-serif"><B><U>Settlement of All Liabilities for A/C# In the name of XXXX</U></FONT></P>
<BR>
<P ALIGN=JUSTIFY><FONT COLOR="#000000" FACE="Verdana, sans-serif" SIZE=2 STYLE="font-size: 9pt"><B>At the request of our customer, we enclose our Manager’s Cheque No: XXXX for AED X,XXX. (  DIRHAMS Only) towards full and final settlement of all liabilities of the captioned customer outstanding with your Bank as per your Liability letter dated XX/XX/XXXX.</B></FONT></P>
<BR>
<P ALIGN=JUSTIFY><FONT COLOR="#000000" FACE="Verdana, sans-serif" SIZE=2 STYLE="font-size: 9pt"><B>Please hand over your original “No Liability letter” only to the representative of RAKBANK and not to the customer.

Please note that your “No Liability Letter” in this regard should be issued in one original copy only addressed to RAKBANK. We request you not to issue any other copy to anyone unless specifically requested by RAKBANK.

In case you are unable to issue a “No Liability Letter” for any reason whatsoever please arrange to return the Manager’s Cheque to us immediately.

Please sign and return the duplicate of this letter as an acknowledgment to our representative.

Thanking You

Yours faithfully,</B></FONT></P>
<BR>
<BR>
<P ALIGN=JUSTIFY><FONT COLOR="#000000" FACE="Verdana, sans-serif" SIZE=2 STYLE="font-size: 9pt"><B>AUTHORISED SIGNATORY</B></FONT>
<P ALIGN=JUSTIFY><FONT COLOR="#000000" FACE="Verdana, sans-serif" SIZE=2 STYLE="font-size: 9pt"><B>Please find</B></FONT>
<P ALIGN=JUSTIFY><FONT COLOR="#000000" FACE="Verdana, sans-serif" SIZE=2 STYLE="font-size: 9pt"><B>1. Manager’s Cheque with the above mentioned details.</B></FONT>
<P ALIGN=JUSTIFY><FONT COLOR="#000000" FACE="Verdana, sans-serif" SIZE=2 STYLE="font-size: 9pt"><B>2. Copy of the authority letter to collect “No liability certificate” on behalf of the customer.</B></FONT>
</P>
</BODY>
</HTML>