

p.serif {
    font-family: "Times New Roman", Times, serif;
	text-align: left;
}

tr td p{
	padding: 15px 15px 15px 15px;
	margin-top: 15px;
	border: solid red !important; 
	overflow-wrap: break-word;
}
.adjustWidth{
	width: 50%;
	border: solid #ffffff !important; 
	border-right:0 !important;
	border-left:0 !important;
	text-align: left;
	font-size: 11px;
	font-family: "Times New Roman", Times, serif;
}
.adjustRowWidth{
	width: 100%;
}
#auth_sig,#aecb_summary,#exposure_det,#deviation_det{
	border: 1px solid red;
	margin:20px;
	padding:20px;
}

.adjustWidthDynamic
{
	
	width: 50%;
	border: solid  #000000 !important; 
	border-right:0 !important;
	border-left:0 !important;
	text-align: left;
}
.addBorder{
	border:1px solid red !important;
}
.RedGrp{
	color:red;
	text-align: left;
	font-size: 14px;
	font-family: "Times New Roman", Times, serif;
}
  .headerTd {
        border-right: solid #ffffff !important; 
		border-left: solid #ffffff !important;
		border-bottom: 1px solid red;
    }

#rak_logo_img{
	content: url(RAK_Logo.png);
}

.rowprops{
height: 30px;	
}	
.tdprops{
	padding-top:8px;
	border: solid #ffffff !important; 
	font-size: 11px;
	font-family: "Times New Roman", Times, serif;
	white-space: pre;
	word-wrap: break-word;
	overflow-wrap: break-word;

}
.noBorder >td
{
	border-top:hidden !important;
	border-bottom:hidden !important;
	border-right:hidden !important;
	border-left:hidden !important;
}

.tableborder{
border: 1px solid red;
margin-bottom:10px;
margin-top:20px;
table-layout: fixed;
}
.gridTd{
		border: 1px solid black;
}

.imageborder{
	
	border-right: white !important;
	border-bottom: 1px solid red !important; 
	
}

.headerborder{
	
	width: 100%;
	text-align: center;
	border-left:white !important;
	border-bottom: 1px solid red !important; 
	
}