<html>
<head></head>
<body style="font-family: 'Times New Roman', Times, serif;">

<table class = "tableborder" cellspacing="0" cellpadding="1">
   <tbody style="width: 100%;">
      <tr height="70">
     <td class = "imageborder addBorder" id="rak_logo_img" bgcolor="#ffffff" height="18">
	 </td>
     <td colspan="2" class = "headerborder addBorder"><p class = "RedGrp"><strong>&amp;&lt;header&gt;&amp;</strong></p></td>
     <td colspan="1" class = "addBorder" style="width: 40%;"> <p class = "RedGrp">Current date Time:   &amp;&lt;Current_date_time&gt;&amp;</p> </td>
    </tr>
      <tr class="rowprops">
     <td colspan="4" class="tdprops"> <p class = "RedGrp"><strong>CUSTOMER DETAIL VERIFICATION</strong></p> </td>
    </tr>
      <tr>
     <td class="adjustWidth tdprops" id="appNo"> <p>Mobile 1</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Mobile1&gt;&amp;</p> </td>
	 </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Mobile 2</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Mobile2&gt;&amp;</p> </td>
    </tr>
	 <tr>
     <td class="adjustWidth tdprops" height="18"> <p>Contacted on</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Contacted_on&gt;&amp;</p> </td>
	  </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Mobile</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Mobile&gt;&amp;</p> </td>
	  </tr>
	 <tr>
     <td class="adjustWidth tdprops" height="18"> <p>Verifiers Name</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;cust_verifiers_name&gt;&amp;</p> </td>
	  </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Verifiers</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;cust_verifiers&gt;&amp;</p> </td>
	  </tr>
	 <tr> 
     <td class="adjustWidth tdprops"> <p>Designation</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;cust_Designation&gt;&amp;</p> </td>
	  </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>DOJ</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;cust_DOJ&gt;&amp;</p> </td>
	  </tr>
	 <tr>
	 <td class="adjustWidth tdprops"> <p>Employment Status</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;cust_employment_status&gt;&amp;</p> </td>
	  </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Salary</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;cust_salary&gt;&amp;</p> </td>
	  </tr>
	 <tr>
	 <td class="adjustWidth tdprops"> <p>Salary Payment Mode</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;salary_payment_mode&gt;&amp;</p> </td>
	  </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Years in UAE</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;yrs_uae&gt;&amp;</p> </td>
	  </tr>
	 <tr>
	 <td class="adjustWidth tdprops"> <p>Previous Employer</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;previous_employer&gt;&amp;</p> </td>
	  </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>FPU Remarks</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;cust_fpu_remarks&gt;&amp;</p> </td>
	 </tr>
	   	 </tbody>
  </table>
      
      
      	<table class = "tableborder"  cellspacing="0" cellpadding="1">
   <tbody style="width: 100%;">
      <tr class="rowprops">
     <td colspan="4" class="tdprops"> <p class = "RedGrp"><strong>EMPLOYMENT VERIFICATION</strong></p> </td>
    </tr>
       <tr>
     <td class="adjustWidth tdprops" id="appNo"> <p>Office Telephone Number</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;ofc_tel_number&gt;&amp;</p> </td>
	 </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Landline Number</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;landline_number&gt;&amp;</p> </td>
    </tr>
	 <tr>
     <td class="adjustWidth tdprops" height="18"> <p>Verifiers Name</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;emp_verifiers_name&gt;&amp;</p> </td>
	  </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Verifiers</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;emp_verifiers&gt;&amp;</p> </td>
	  </tr>
	 <tr>
     <td class="adjustWidth tdprops" height="18"> <p>Application Type</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;application_type&gt;&amp;</p> </td>
	  </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Designation</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;emp_Designation&gt;&amp;</p> </td>
	  </tr>
	 <tr> 
     <td class="adjustWidth tdprops"> <p>Emirate</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;emirate&gt;&amp;</p> </td>
	  </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Freezone</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;freezone&gt;&amp;</p> </td>
	  </tr>
	 <!-- <tr> -->
	 <td class="adjustWidth tdprops"> <p>DOJ</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;emp_DOJ&gt;&amp;</p> </td>
	  </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Employment Status</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;emp_employement_status&gt;&amp;</p> </td>
	  </tr>
	 <tr>
	 <td class="adjustWidth tdprops"> <p>Salary</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;emp_salary&gt;&amp;</p> </td>
	  </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Salary break Matches with Income details</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;emp_salary_break&gt;&amp;</p> </td>
	  </tr>
	 <tr>
	 <td class="adjustWidth tdprops"> <p>Salary Payment Mode</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;emp_salary_paymode&gt;&amp;</p> </td>
	  </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Loan/Advance/Permanent deduction</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;loan_deduction&gt;&amp;</p> </td>
	 </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Positive financial strength of the company</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;positive_financial_strength&gt;&amp;</p> </td>
	 </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>FPU Remarks</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;emp_fpu_remarks&gt;&amp;</p> </td>
	 </tr>
     </tbody>
  </table>
     
     	<table class = "tableborder"  cellspacing="0" cellpadding="1">
   <tbody style="width: 100%;">
      <tr class="rowprops">
         <td colspan = "4" class="tdprops">
            <p class = "RedGrp"><strong>FIELD VISIT INITIATED</strong></p>
         </td>
      </tr>
      <tr>
     <td class="adjustWidth tdprops"> <p>Date</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Date&gt;&amp;</p> </td>
	 </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Field Visit Initiated</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;field_visit_initiated&gt;&amp;</p> </td>
	 </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Field Visit Initiated date</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;field_visit_initiated_date&gt;&amp;</p> </td>
	 </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Field Visit Initiated time</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;field_visit_initiated_time&gt;&amp;</p> </td>
	 </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Field visit report received date</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;field_visit_report&gt;&amp;</p> </td>
	 </tr>
	</tbody>
  </table>
	
		<table class = "tableborder"  cellspacing="0" cellpadding="1">
   <tbody style="width: 100%;">	
      <tr class="rowprops">
         <td colspan = "4" class="tdprops">
            <p class = "RedGrp"><strong>BANKING CHECK</strong></p>
         </td>
      </tr>
      <tr>
     <td class="adjustWidth tdprops"> <p>Banking account details check</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;bank_acc_details&gt;&amp;</p> </td>
	 </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Salary Credits</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;salary_credits&gt;&amp;</p> </td>
	 </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>A/c Conduct</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;acc_conduct&gt;&amp;</p> </td>
	 </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Liability Check</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;liability_check&gt;&amp;</p> </td>
	 </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Repayment Conduct</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;repayment_conduct&gt;&amp;</p> </td>
	 </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>CreditCard Statement Verification</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;creditcard_stat_verifi&gt;&amp;</p> </td>
	 </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>A/c Statement Verification</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;acc_stat_verifi&gt;&amp;</p> </td>
	 </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>NLC/LC Verification</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;nlc_verifi&gt;&amp;</p> </td>
	 </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>Company Listing Check</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;company_list_check&gt;&amp;</p> </td>
	 </tr>
	 <tr>
     <td class="adjustWidth tdprops"> <p>AECB Mismatch</p> </td>
     <td class="adjustWidth tdprops"> <p>&amp;&lt;Aecb_Mismatch&gt;&amp;</p> </td>
	 </tr>
	</tbody>
  </table>
  	
	<table id="smart_check"  dbtablename="ng_rlos_gr_smartcheck_fcu" width="110%" winamecol="smart_wi_name" cellspacing="0" cellpadding="1">
       <tbody id="smart_check_body">
	   <tr>
	    <td colspan="4" class="adjustWidth tdprops"> <p class = "RedGrp"><strong>SMART CHECK</strong></p></td>
	   </tr>
        <tr id="smart_check_headerRow">
         <td class="tdprops gridTd" width="194" columnname="creditremarks"> <p>Credit Remarks</p> </td>
         <td class="tdprops gridTd" width="195" columnname="cpvremarks"> <p>CPV Remarks</p> </td>
         <td class="tdprops gridTd" width="195" columnname="FCU_Remarks"> <p>FCU Remarks</p> </td>
        </tr>
       </tbody>
	   
      </table>

</body>

</html>